In [1]:
import pandas as pd
import os
import math

In [42]:
# Check for duplicates in pvt tables
df = pd.read_csv('pvttables_raw/pvt_andaman_and_nicobar_islands.csv', sep=';')

def get_duplicates_df(df, statename):
    duplicates_df = pd.DataFrame({'state': [], 'species_id': [], 'all_same': []})
    for species_id in list(df['species_id']):
        df_filtered = df[df['species_id'] == species_id]
        if len(df_filtered) > 1:
            # see if categorical vectors are all the same:
            all_equal = True
            for colname in df.columns[3:-2]:
                all_equal = all_equal and df_filtered[colname].nunique() == 1
            if not species_id in list(duplicates_df['species_id']):
                duplicates_df.loc[len(duplicates_df) + 1] = pd.Series({'state': statename, 'species_id': species_id, 'all_same': all_equal})
    return duplicates_df

print(get_duplicates_df(df, 'andaman_and_nicobar_islands'))

                         state species_id all_same
1  andaman_and_nicobar_islands       1146     True
2  andaman_and_nicobar_islands       1231     True

In [43]:
# get df of all duplicate data in pvt tables
duplicates_df = pd.DataFrame({'state': [], 'species_id': [], 'all_same': []})
for tablename in os.listdir('./pvttables_raw/'):
    if tablename == '.DS_Store':
        continue
    df = pd.read_csv('pvttables_raw/{}'.format(tablename), sep=';')
    print("getting duplicates in {}".format(tablename))
    duplicates_df = pd.concat([duplicates_df, get_duplicates_df(df, tablename.strip('.csv'))], ignore_index=True)
print(duplicates_df)

getting duplicates in pvt_andaman_and_nicobar_islands.csv
getting duplicates in pvt_rajasthan.csv
getting duplicates in pvt_arunachal_pradesh.csv
getting duplicates in pvt_madhya_pradesh.csv
getting duplicates in pvt_assam.csv
getting duplicates in pvt_jharkhand.csv
getting duplicates in pvt_maharastra.csv
getting duplicates in pvt_karnataka.csv
getting duplicates in pvt_jammu_and_kashmir.csv
getting duplicates in pvt_pvt_haryana.csv
getting duplicates in pvt_manipur.csv
getting duplicates in pvt_delhi.csv
getting duplicates in pvt_tripura.csv
getting duplicates in pvt_odisha.csv
getting duplicates in pvt_tamil_nadu.csv
getting duplicates in pvt_gujarat.csv
getting duplicates in pvt_andhra_pradesh.csv
getting duplicates in pvt_bihar.csv
getting duplicates in pvt_kerala.csv
getting duplicates in pvt_puducherry.csv
getting duplicates in pvt_meghalaya.csv
                             state species_id all_same
0   pvt_andaman_and_nicobar_island       1146     True
1   pvt_andaman_and_nicobar_island       1231     True
2                    pvt_rajasthan       1146     True
3                    pvt_rajasthan       1231     True
4            pvt_arunachal_pradesh       1146     True
5            pvt_arunachal_pradesh       1231     True
6               pvt_madhya_pradesh       1146     True
7               pvt_madhya_pradesh       1231     True
8                        pvt_assam       1146     True
9                        pvt_assam       1231     True
10                   pvt_jharkhand       1146     True
11                   pvt_jharkhand       1231     True
12                  pvt_maharastra       1146     True
13                  pvt_maharastra       1231     True
14                   pvt_karnataka       1146     True
15                   pvt_karnataka       1231     True
16           pvt_jammu_and_kashmir       1146     True
17           pvt_jammu_and_kashmir       1231     True
18                 pvt_pvt_haryana       1146     True
19                 pvt_pvt_haryana       1231     True
20                     pvt_manipur       1146     True
21                     pvt_manipur       1231     True
22                       pvt_delhi       1146     True
23                       pvt_delhi       1231     True
24                     pvt_tripura       1146     True
25                     pvt_tripura       1231     True
26                      pvt_odisha       1146     True
27                      pvt_odisha       1231     True
28                  pvt_tamil_nadu       1146     True
29                  pvt_tamil_nadu       1231     True
30                     pvt_gujarat       1146     True
31                     pvt_gujarat       1231     True
32              pvt_andhra_pradesh       1146    False
33              pvt_andhra_pradesh       1231    False
34                       pvt_bihar       1146     True
35                       pvt_bihar       1231     True
36                      pvt_kerala       1146     True
37                      pvt_kerala       1231     True
38                  pvt_puducherry       1146     True
39                  pvt_puducherry       1231     True
40                   pvt_meghalaya       1146     True
41                   pvt_meghalaya       1231     True

In [54]:
# weird, pvt_andhra_pradesh has unmatching duplicates
pvt_andhra_pradesh_df = pd.read_csv('pvttables_raw/pvt_andhra_pradesh.csv', sep=';')
pvt_andhra_pradesh_df_filtered = pvt_andhra_pradesh_df[pvt_andhra_pradesh_df['species_id'] == 1231]
for colname in pvt_andhra_pradesh_df.columns[3:-2]:
    if pvt_andhra_pradesh_df_filtered[colname].nunique() != 1:
        print(pvt_andhra_pradesh_df_filtered[colname])

# unmatching duplicates ended up both being nans

228    NaN
230    NaN
Name: Dec_wk4, dtype: object