In [123]:
import pandas as pd
import os
import math

df = pd.read_csv('pvttables_raw/pvt_andaman_and_nicobar_islands.csv', sep=';')

all_data_df = pd.read_csv('alldata.csv', sep=',')

In [124]:
all_data_df

,Unnamed: 0,Observation_ID,Date_of_observation,User_id,User_Tree_id,Species_name,Lat,Long,State_name,Leaves_fresh,Leaves_mature,Leaves_old,Flowers_bud,Flowers_open,Flowers_male,Flowers_Female,Fruits_unripe,Fruits_ripe,Fruits_open
0,1,388564.0,2020-01-01,20396.0,84299.0,Indian Almond- Terminalia catappa,12.15386,75.22397,Kerala,2.0,0.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0
1,2,388565.0,2020-01-01,20396.0,84300.0,Indian Almond- Terminalia catappa,12.15386,75.22397,Kerala,2.0,0.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0
2,3,388566.0,2020-01-01,20396.0,84301.0,Fish-tail palm- Caryota urens,12.14060,75.22145,Kerala,0.0,2.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0
3,4,388567.0,2020-01-01,20396.0,84302.0,Mast Tree-Monoon longifolium,12.14060,75.22145,Kerala,1.0,2.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0
4,5,388568.0,2020-01-01,20396.0,84303.0,Indian Almond- Terminalia catappa,12.14060,75.22145,Kerala,0.0,1.0,2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592588,592589,736977.0,2023-12-04,26471.0,124684.0,Jackfruit- Artocarpus heterophyllus,8.53024,77.04296,Kerala,1.0,2.0,1.0,0.0,-2.0,0.0,0.0,0.0,0.0,-2.0
592589,592590,736978.0,2023-12-12,26471.0,124684.0,Jackfruit- Artocarpus heterophyllus,8.53024,77.04296,Kerala,1.0,2.0,1.0,0.0,-2.0,1.0,1.0,0.0,0.0,-2.0
592590,592591,736979.0,2023-12-20,26471.0,124684.0,Jackfruit- Artocarpus heterophyllus,8.53024,77.04296,Kerala,1.0,2.0,1.0,1.0,-2.0,1.0,1.0,0.0,0.0,-2.0
592591,592592,736981.0,2023-12-28,26471.0,124684.0,Jackfruit- Artocarpus heterophyllus,8.53024,77.04296,Kerala,1.0,2.0,1.0,1.0,-2.0,1.0,1.0,0.0,0.0,-2.0
592592,592593,736982.0,2023-12-27,26471.0,124684.0,Jackfruit- Artocarpus heterophyllus,8.53024,77.04296,Kerala,1.0,2.0,1.0,1.0,-2.0,1.0,1.0,0.0,0.0,-2.0

In [125]:
all_data_df.columns[9:]

Index(['Leaves_fresh', 'Leaves_mature', 'Leaves_old', 'Flowers_bud',
       'Flowers_open', 'Flowers_male', 'Flowers_Female', 'Fruits_unripe',
       'Fruits_ripe', 'Fruits_open'],
      dtype='object')

In [126]:
df

,id,species_id,species_name,Jan_wk1,Jan_wk2,Jan_wk3,Jan_wk4,Feb_wk1,Feb_wk2,Feb_wk3,...,Nov_wk1,Nov_wk2,Nov_wk3,Nov_wk4,Dec_wk1,Dec_wk2,Dec_wk3,Dec_wk4,created_at,updated_at
0,1,1012,NaN,"FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...",...,"FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...",NaN,NaN
1,2,1007,NaN,"FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...","FL_NA,ML_NA,DL_NA,BD_0,OF_0,MF_NA,FF_NA,UFR_0,...",...,"FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...","FL_NA,ML_NA,DL_NA,BD_1,OF_1,MF_NA,FF_NA,UFR_1,...",NaN,NaN
2,3,1013,NaN,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",...,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",NaN,NaN
3,4,1008,NaN,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",...,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",NaN,NaN
4,5,1014,NaN,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",...,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,237,1238,NaN,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",...,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",NaN,NaN
237,238,1239,NaN,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",...,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",NaN,NaN
238,239,1219,NaN,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",...,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",NaN,NaN
239,240,1220,NaN,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",...,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",NaN,NaN
240,241,1221,NaN,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",...,"FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...","FL_NA,ML_NA,DL_NA,BD_NA,OF_NA,MF_NA,FF_NA,UFR_...",NaN,NaN

In [127]:
code_to_attribute_dict = {}
code_names = ['FL', 'ML', 'DL', 'BD', 'OF', 'MF', 'FF', 'UFR', 'RFR', 'OFR']
for idx, name in enumerate(list(all_data_df.columns[9:])):
    code_to_attribute_dict[code_names[idx]] = name
code_to_category_dict = {'NA': -2, '': -1, '0': 0, '1': 1, '2': 2} #TODO - what should map to -1?

def code_to_attribute_category_tuple(code):
    code_attr_tup = code.split('_')
    code_attr_tup[0] = code_to_attribute_dict[code_attr_tup[0]]
    code_attr_tup[1] = code_to_category_dict[code_attr_tup[1]]
    return tuple(code_attr_tup)

def get_duplicates_df(df):
    duplicates_df = pd.DataFrame({'species_id': [], 'all_same': []})
    for species_id in list(df['species_id']):
        df_filtered = df[df['species_id'] == species_id]
        if len(df_filtered) > 1:
            # see if categorical vectors are all the same:
            all_equal = True
            for colname in df.columns[3:-2]:
                all_equal = all_equal and df_filtered[colname].nunique() == 1
            if not species_id in list(duplicates_df['species_id']):
                duplicates_df.loc[len(duplicates_df) + 1] = pd.Series({'species_id': species_id, 'all_same': all_equal})
    return duplicates_df

def clean_df(df):
    # TODO:
    # - get rid of null values

    # get rid of duplicate rows
    duplicates_df = get_duplicates_df(df)
    for i in range(len(duplicates_df)):
        dup_id = duplicates_df.iloc[i]['species_id']
        drop_idx = list(df['species_id']).index(dup_id)
        df = df.drop(index=drop_idx)
    
    old_cols = list(df.columns)[:3] + list(df.columns)[-2:]
    new_cols = list(df.columns)[:3] + list(df.columns)[-2:]
    new_cols.append('week')
    new_cols += list(all_data_df.columns)[9:]
    new_df = pd.DataFrame(columns=new_cols)
    
    for i in range(len(df)):
        for week_idx, week_name in enumerate(list(df.columns)[3:-2]):
            new_datapoint = {}
            for old_colname in old_cols:
                new_datapoint[old_colname] = df.iloc[i][old_colname]
            new_datapoint['week'] = week_idx
            cat_vector_for_week = df.iloc[i][week_name]

            # make nan map to a cat vector of all -2s
            # print(type(cat_vector_for_week), cat_vector_for_week)
            if not isinstance(cat_vector_for_week, str):
                if math.isnan(cat_vector_for_week):
                    for attr_name in code_to_attribute_dict.keys():
                        new_datapoint[attr_name] = -2
                    new_df.loc[len(new_df)] = new_datapoint
                    continue
            
            cat_vector_list = list(map(code_to_attribute_category_tuple, cat_vector_for_week.split(",")))
            for (attr, cat) in cat_vector_list:
                new_datapoint[attr] = cat
            new_df.loc[len(new_df)] = new_datapoint

    return new_df

In [128]:
# clean all old pvt dataframes, put in ./reference_data
for tablename in os.listdir('./pvttables_raw/'):
    if tablename == '.DS_Store' or tablename in os.listdir('./reference_data/'):
        continue
    print("cleaning {}".format(tablename))
    df = pd.read_csv('./pvttables_raw/{}'.format(tablename), sep=';')
    new_df = clean_df(df)
    new_df.to_csv('./reference_data/{}'.format(tablename))

cleaning pvt_andaman_and_nicobar_islands.csv
cleaning pvt_rajasthan.csv
cleaning pvt_arunachal_pradesh.csv
cleaning pvt_madhya_pradesh.csv
cleaning pvt_assam.csv
cleaning pvt_jharkhand.csv
cleaning pvt_maharastra.csv
cleaning pvt_karnataka.csv
cleaning pvt_jammu_and_kashmir.csv
cleaning pvt_pvt_haryana.csv
cleaning pvt_manipur.csv
cleaning pvt_delhi.csv
cleaning pvt_tripura.csv
cleaning pvt_odisha.csv
cleaning pvt_tamil_nadu.csv
cleaning pvt_gujarat.csv
cleaning pvt_andhra_pradesh.csv
cleaning pvt_bihar.csv
cleaning pvt_kerala.csv
cleaning pvt_puducherry.csv
cleaning pvt_meghalaya.csv

In [83]:
def count_codes_in_df(df):
    count = 0
    for i in range(len(df)):
        for week_idx, week_name in enumerate(list(df.columns)[3:-2]):
            cat_vec = df.iloc[i][week_name].split(',')
            for attr in cat_vec:
                attr_name, code = attr.split('_')
                # print(attr_name, code)
                if attr_name == 'UUFR':
                    count += 1
    return count

In [135]:
def custom_filter(row):
    return not isinstance(row['State_name'], str)

# Apply the function to filter rows
filtered_df = all_data_df[all_data_df.apply(custom_filter, axis=1)]
filtered_df

,Unnamed: 0,Observation_ID,Date_of_observation,User_id,User_Tree_id,Species_name,Lat,Long,State_name,Leaves_fresh,Leaves_mature,Leaves_old,Flowers_bud,Flowers_open,Flowers_male,Flowers_Female,Fruits_unripe,Fruits_ripe,Fruits_open
37,38,390154.0,2020-01-01,21640.0,84475.0,Jackfruit- Artocarpus heterophyllus,8.87562,76.61831,NaN,-1.0,2.0,1.0,0.0,-2.0,0.0,0.0,0.0,0.0,-2.0
38,39,390330.0,2020-01-01,21640.0,84511.0,Coconut palm-Cocos nucifera,8.87562,76.61831,NaN,-1.0,2.0,0.0,-1.0,-1.0,-2.0,-2.0,-1.0,2.0,-2.0
168,169,463452.0,2021-01-01,21389.0,93434.0,Mango (all varieties)- Mangifera indica,9.99564,76.30371,NaN,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
169,170,463453.0,2021-01-01,21389.0,93800.0,Coconut palm-Cocos nucifera,10.02270,76.28854,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
203,204,463624.0,2021-01-01,22117.0,93415.0,Jackfruit- Artocarpus heterophyllus,10.99797,76.07058,NaN,2.0,2.0,1.0,2.0,0.0,2.0,2.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592087,592088,731922.0,2023-11-29,28467.0,154412.0,Babool- Acacia nilotica,27.61082,93.01757,NaN,0.0,2.0,1.0,2.0,2.0,-2.0,-2.0,2.0,0.0,-2.0
592088,592089,731923.0,2023-12-05,28467.0,154412.0,Babool- Acacia nilotica,27.61082,93.01757,NaN,2.0,2.0,1.0,1.0,2.0,-2.0,-2.0,1.0,1.0,-2.0
592089,592090,731924.0,2023-12-12,28467.0,154412.0,Babool- Acacia nilotica,27.61082,93.01757,NaN,2.0,2.0,1.0,1.0,2.0,-2.0,-2.0,1.0,1.0,-2.0
592090,592091,731925.0,2023-12-19,28467.0,154412.0,Babool- Acacia nilotica,27.61082,93.01757,NaN,2.0,2.0,1.0,1.0,2.0,-2.0,-2.0,1.0,1.0,-2.0
592091,592092,731926.0,2023-12-26,28467.0,154412.0,Babool- Acacia nilotica,27.61082,93.01757,NaN,2.0,2.0,1.0,1.0,2.0,-2.0,-2.0,1.0,1.0,-2.0